body{
    font-family : 'Special Elite', cursive;
    background: rgb(183, 226, 185);
}
.header_div
{
    background: rgb(151, 190, 232);
    color:rgb(0, 8, 252);
}
.header_div p{
    font-family:'Courier New', Courier, monospace;
    color:rgb(223, 180, 128);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family:'Roboto', sans-serif ;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color:rgb(119, 122, 209);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color:cornsilk ;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151,149, 149);
}